<!doctype html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Товары</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="sale" class="category js-category"></div>
        <div id="promo" class="category js-category"></div>
        <div id="recommended" class="category js-category"></div>

        <script id="categoryProductsTemplate" type="text/template">
            <h2 class="category-title"><%=title%></h2>
            <ul class="products-list">
                <% list.forEach(function (item) { %>
                    <li class="products-list__item">
                        <img class="products-list__img" src="./media/products/<%=item.pic%>" alt="">
                        <p class="products-list__description"><%=item.name%></p>
                        <p class="products-list__price">Цена: <%=item.price%></p>
                    </li>
                <% }) %>
            </ul>
        </script>

        <script id="errorMessageTemplate" type="text/template">
            <div class="load-error js-error-popup">
                <div class="content-wrap">
                    <p>Ой! Что-то пошло не так... Повторить?</p>
                    <div class="buttons-wrap">
                        <button class="popup-button popup-button_close js-popup-button" data-type="close">
                            Та нее :c
                        </button>
                        <button class="popup-button popup-button_resend js-popup-button" data-type="resend">
                            А давай! :D
                        </button>
                    </div>
                </div>
            </div>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.0.0.min.js"
                integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
        <script src="script.js"></script>
    </body>
</html>